body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
  
  
}


.navbar {
  height: 60px;
  /* background-color: #fef7e5; */
  position: relative;
}

.nav-elements ul {
  display: flex;
  padding-top: 10px;    
  justify-content: space-evenly;
  list-style-type: none;
  
}

.nav-elements > li{
    text-decoration: none;
}
